* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}


.box {
  width: 100px;
  height: 100px;
  display:inline-block;
}

 .red {
  background-color: red;
}
 .green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.black {
  background-color: black;
}